/*  your css code here. If applicable */
.container {
  width: 400px;
  margin: 0 auto;
  padding: 40px;
  border: 2px solid #000;
  text-align: center;
  background-color: grey;
  border-radius: 50px;

}

.red, .yellow, .green{
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 10px;
  
}

.red {
  background-color: #FF4136;
}

.green {
  background-color: #2ECC40;
}

.yellow {
  background-color: #FFDC00;
}
